/*
*   About Page Styling
*
*   !! sass --watch ./sass/style.scss:./style.css
* 
*   !! ~ Keep things organized, please.
*   !! ~ Call from variables/mixins
* 
*   !! ~ FONTS
~   Header font:
*       - font-family: 'Kaushan Script', cursive;
*       - font-family: 'Rubik Dirt', cursive;
*       - font-family: 'Righteous', cursive;
~   Paragraph font:
*       - font-family: 'Quicksand', sans-serif;
*
*/


.about-page {
    width: 100%;
    height: 100vh;
    position: relative;
    // color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000, #050707);

    .about-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        & > img {
            filter: brightness(0.5);
        }
    }



    // About Information (Hobbies, Skills)
    .ap-info {
        width: 50vw;
        height: 100%;
        border: 1px solid #fff;
    }

}