/*
*   Home Page Styling
*
*   !! sass --watch ./sass/style.scss:./style.css
* 
*   !! ~ Keep things organized, please.
*   !! ~ Call from variables/mixins
* 
*   !! ~ FONTS
~   Header font:
*       - font-family: 'Kaushan Script', cursive;
*       - font-family: 'Rubik Dirt', cursive;
*       - font-family: 'Righteous', cursive;
~   Paragraph font:
*       - font-family: 'Quicksand', sans-serif;
*
*/


.home-page {
    width: 100%;
    height: 100%;
    position: relative;
    // color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}