/*
*   Landing Page Styling
*
*   !! sass --watch ./sass/style.scss:./style.css
* 
*   !! ~ Keep things organized, please.
*   !! ~ Call from variables/mixins
* 
*   !! ~ FONTS
~   Header font:
*       - font-family: 'Kaushan Script', cursive;
*       - font-family: 'Rubik Dirt', cursive;
*       - font-family: 'Righteous', cursive;
~   Paragraph font:
*       - font-family: 'Quicksand', sans-serif;
*
*/

// Video Background Styling
.entry-title {
    display: none;
}

.entry-content {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -3rem;
    left: 0;
    margin: 0;
    .wp-block-video {
        width: 100%;
        height: 100%;
        & > video {
            width: 100%;
            height: fit-content;
            filter: brightness(0.1);
        }
    }
}


.landing-page {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #050707;
    color: #00ff00be;

    .lp-left, .lp-right {
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .lp-left {
        // 
        & > p {
            color: #fff;
        }
        & > h1 {
            margin: 0;
            font-size: 10rem;
            line-height: 8.5rem;
            text-align: right;
            font-family: 'Long Shot', sans-serif;
            color: #050707;
            -webkit-text-stroke: 3px #00ff00be;
        }
        & > a {
            text-decoration: none;
        }
    }

    .lp-right {
        // 
        .lp-img-container {
            // 
            width: 20rem;
            height: 20rem;
            & > img {
                mix-blend-mode: hard-light;
            }
        }
    }



}