/*
*   Landing Page Styling
*
*   !! sass --watch ./sass/style.scss:./style.css
* 
*   !! ~ Keep things organized, please.
*   !! ~ Call from variables/mixins
* 
*   !! ~ FONTS
~   Header font:
*       - font-family: 'Kaushan Script', cursive;
*       - font-family: 'Rubik Dirt', cursive;
*       - font-family: 'Righteous', cursive;
~   Paragraph font:
*       - font-family: 'Quicksand', sans-serif;
*
*/

// Video Background Styling
.entry-title, .entry-footer {
    display: none;
}
.entry-content {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -3rem;
    left: 0;
    margin: 0;
    .wp-block-video {
        width: 100%;
        height: 100%;
        & > video {
            width: 100%;
            height: fit-content;
            filter: brightness(0.1);
        }
    }
}

// Landing Page Styling
.landing-page {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #00ff00be;

    .lp-left, .lp-right {
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .lp-left {
        // 
        & > p {
            color: white;
            text-shadow: 0 0 1px white;
            position: relative;

            & > span {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 5rem !important;
                border: 2px solid white;
                border-radius: 5px;
                // animation
                animation: pace 5s infinite;
            }
        }

        & > h1 {
            margin: 0;
            font-size: 10rem;
            line-height: 8.5rem;
            text-align: right;
            font-family: 'Long Shot', sans-serif;
            color: #050707;
            -webkit-text-stroke: 2px #009c00be;
        }

        & > a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            text-shadow: 0 0 1px white;
            font-weight: bold;
            transition: 0.25s;

            &:hover {
                color: #fff;
                text-shadow: 0 0 1px #fff;
            }

            & > i {
                color: #00ff00be;
            }
        }
    }

    .lp-right {
        // 
        .lp-author {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .lp-author-img-container {
                width: 10rem;
                height: 10rem;
                overflow: hidden;
                border: 2px solid #00ff00be;
                border-radius: 50%;
                padding: 5px;

                & > img {
                    border-radius: 50%;
                }
            }

            & > h5 {
                color: white;
                letter-spacing: 2px;
                margin: 1px;
                font-size: 1.5rem;
            }

            & > p {
                margin: 0;
            }

            .lp-socials {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                font-size: 1.15rem;
                
                & > a {
                    color: white;
                    text-shadow: 0 0 1px white;
                    transition: 0.25s !important;

                    &:hover {
                        color: #fff !important;
                    }
                }
            }
        }
    }



}


@keyframes pace {
    0% {
        left: 0;
        width: 0rem !important;
    }
    50% {
        left: 55%;
        width: 5rem !important;
    }
    100% {
        left: 0;
        width: 0rem !important;
    }
}