/*
*   Landing Page Styling
*
*   !! sass --watch ./sass/style.scss:./style.css
* 
*   !! ~ Keep things organized, please.
*   !! ~ Call from variables/mixins
* 
*   !! ~ FONTS
~   Header font:
*       - font-family: 'Kaushan Script', cursive;
*       - font-family: 'Rubik Dirt', cursive;
*       - font-family: 'Righteous', cursive;
~   Paragraph font:
*       - font-family: 'Quicksand', sans-serif;
*
*/


// Video Background Styling
.landing-bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    filter: brightness(0.1);
}

// Landing Page Styling
.landing-page {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #00ff00be;
    margin: 0;
    padding: 2rem;
    overflow: hidden;

    .lp-left, .lp-right {
        // width: 50%;
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .lp-left {
        // 
        & > p {
            color: white;
            text-shadow: 0 0 1px white;
            position: relative;

            & > span {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 5rem !important;
                border: 2px solid white;
                border-radius: 5px;
                // animation
                animation: pace 5s infinite;
            }
        }

        & > h1 {
            margin: 0;
            font-size: 10rem;
            line-height: 8.5rem;
            text-align: right;
            font-family: 'Long Shot', sans-serif;
            color: #050707;
            -webkit-text-stroke: 2px #009c00be;

            // transform:
            //     perspective(800px)
            //     rotateY(25deg) scale(0.9)
            //     rotateX(10deg);
            // filter: blur(1px);
            opacity: 0.75;
            // transition: 0.6s ease all;
        }

        & > a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            text-shadow: 0 0 1px white;
            font-weight: bold;
            transition: 0.25s;

            &:hover {
                color: #fff;
                text-shadow: 0 0 1px #fff;
            }

            & > i {
                color: #00ff00be;
            }
        }
    }

    .lp-right {
        overflow: hidden;
        // 
        .lp-author {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // width: 50vw;
            // height: 100%;
            z-index: 1;
            position: relative;
            top: 1rem;
            padding: 1rem;

            .lp-author-img-container {
                width: 10rem;
                height: 10rem;
                overflow: hidden;
                border: 2px solid #00ff00be;
                box-shadow: 0 0 5px #00ff00be;
                border-radius: 50%;
                padding: 5px;

                & > img {
                    border-radius: 50%;
                }
            }

            & > h5 {
                color: white;
                letter-spacing: 2px;
                margin: 1px;
                font-size: 1.5rem;
            }

            & > p {
                margin: 0;
            }

            .lp-socials {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                font-size: 1.15rem;
                
                & > a {
                    color: white;
                    text-shadow: 0 0 1px white;
                    transition: 0.25s !important;

                    &:hover {
                        color: #fff !important;
                    }
                }
            }
        }
    }



}


@keyframes pace {
    0% {
        left: 0;
        width: 0rem !important;
    }
    50% {
        left: 55%;
        width: 5rem !important;
    }
    100% {
        left: 0;
        width: 0rem !important;
    }
}




/* Media Query for Mobile Devices */
// @media (max-width: 480px) {
//     .landing-page {
//         .lp-left {
//             & > h1 {
                
//             }
//         }
//     }
// }
  
// /* Media Query for low resolution  Tablets, Ipads */
// @media (min-width: 481px) and (max-width: 767px) {
//     .landing-page {
//         // background-color: yellow;
//     }
// }
  
// /* Media Query for Tablets Ipads portrait mode */
// @media (min-width: 768px) and (max-width: 1024px){
//     .landing-page {
//         // background-color: blue;
//     }
// }
  
// /* Media Query for Laptops and Desktops */
// @media (min-width: 1025px) and (max-width: 1280px){
//     .landing-page {
//         // background-color: green;
//         flex-direction: column-reverse;
//     }
// }

@media (max-width: 1280px) {
    .landing-page {
        flex-direction: column-reverse;
        width: 100% !important;
        // height: 100% !important;
        .lp-left {
            
            & > h1 {
                font-size: 8rem;
            }
        }
    }
}
  
/* Media Query for Large screens */
// @media (min-width: 1281px) {
//     .landing-page {
//         // background-color: white;
//     }
// }