$cyan: #fff;

// Skills Header
.skill-header {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 0;
    color: transparent;
    -webkit-text-stroke: 1px #00ff0030;
    position: absolute;
    
    & > h1 {
        font-family: "Long Shot", sans-serif;
        font-size: 8rem;
        line-height: 8rem;
        text-align: left;
        margin: 0;
    }
}

// Skils
.skills-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    & > h1 {
        font-size: 5rem;
    }

    .skills {
        // width: 13vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        position: relative;
        
        .skill {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            z-index: 1;

            &:nth-child(2n + 1) {
                margin: 0;
                padding: 0;
                margin-right: 5rem;
            }

            .skill-icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                height: 100%;
                overflow: hidden;
                padding: 5px;
                border-radius: 50%;
                margin: 0;

                & > h1 {
                    font-size: 2rem;
                    display: grid;
                    place-items: center;
                    min-width: 5rem;
                    color: #fff;
                    text-shadow: 0 0 1px #fff;
                    &:nth-child(2n + 1) {
                        text-align: right;
                    }
                }

                & > svg {
                    position: absolute;
                    height: 70px;
                    width: 86.4px;
                    & > path {
                        stroke: none;
                        fill: $cyan;
                    }
                }
                
            }
            
            .skill-desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: 10rem;
                
                & > h5 {
                    letter-spacing: 1.5px;
                    margin: 0;
                    color: #fff;
                    text-shadow: 0 0 1px #fff;
                    padding: 0.5rem;
                    // border-radius: 10px;
                }
                
                & > p {
                    margin: 0;
                    color: #fff;
                    text-shadow: 0 0 1px #fff;
                }
            }
        }
    }
}



// @media (max-width: 1280px) {
//     .skils-container {
        
//     }
// }