body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	letter-spacing: 1px;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";



// Main header font
@import url('http://fonts.cdnfonts.com/css/long-shot');
// @import url('http://fonts.cdnfonts.com/css/moto-verse');


// Sub Header font
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

// Paragraph font
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');