/*
*   Body Styling
*
*   !! sass --watch ./sass/style.scss:./style.css
* 
*   !! ~ Keep things organized, please.
*   !! ~ Call from variables/mixins
* 
*   !! ~ FONTS
~   Header font:
*       - font-family: 'MOTO VERSE', sans-serif;
*		- font-family: 'Orbitron', sans-serif;
*		- font-family: 'Quantico', sans-serif;
~   Paragraph font:
*       - font-family: 'Quicksand', sans-serif;
*
*/

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.

	font-family: 'Quicksand', sans-serif;
	
	h1, h2, h3, h4, h5, h6 {
		// font-family: 'Orbitron', sans-serif;
		font-family: 'Quantico', sans-serif;
		font-weight: bolder;
		letter-spacing: 1px;
	}
	
}

