/*
*   Body Styling
*
*   !! sass --watch ./sass/style.scss:./style.css
* 
*   !! ~ Keep things organized, please.
*   !! ~ Call from variables/mixins
* 
*   !! ~ FONTS
~   Header font:
*       - font-family: 'Kaushan Script', cursive;
*       - font-family: 'Rubik Dirt', cursive;
*       - font-family: 'Righteous', cursive;
~   Paragraph font:
*       - font-family: 'Quicksand', sans-serif;
*
*/

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.

	// font-family: 'Quicksand', sans-serif;
	font-family: 'Titillium Web', sans-serif;

	h1, h2, h3, h4, h5, h6 {
		// font-family: 'Rubik Dirt', cursive;
		// font-family: 'Righteous', cursive;
		font-family: 'Titillium Web', sans-serif;
		font-weight: bolder;
	}
	
}

